/* Adding in google font 'Raleway' */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap');

/* Default override */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-size: 20px;
}

header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}

.leftNav{
  margin-right: auto;
}

.name{
  margin: auto;
  font-size: 22px;
  font-weight: 600;
}

.navLinks{
  list-style: none;
}
.navLinks li{
  display: inline-block;
  padding: 0.2rem 0.5rem;
}

main{
  padding: 30px 6%;
}

.intro{
  background: aliceblue;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 5px 5px;
  box-shadow: 7px 7px 4px #3a4445;
}

.intro #myDIV{
  display: none;
}

/* Contact page ----------------------------------------*/
.contactIcons{
  list-style: none;
}
.contactIcons i{
  font-size: 25px;
  cursor: pointer;
}

#contactForm{
  display: none;
}